<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <section class="topnav">
      <a class="active"><%= link_to "Pets", "/pets" %></a>
      <a class="active"><%= link_to "Shelters", "/shelters" %></a>
      <a class="active"><%= link_to "Veterinarians", "/veterinarians" %></a>
      <a class="active"><%= link_to "Veterinary Offices", "/veterinary_offices" %></a>
    </section>
    
    <% flash.each do |type, msg| %>
      <div style="color:red; font-size:30px;">
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
